<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Meet My Pet</title>
</head>

<body>
  <!-- navbar  -->
  <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <img id="logo" src="/static/images/logo.png" alt="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Message Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'logout' %}">Log Out</a>
        </li>

  </nav>
  <!-- end navbar  -->
  {% block content %}
  <div class="bg">
  <div class="container">
    <div class="row">
      <div class="col mt-5">
        <h2 class="header">Welcome to Meet My Pet!</h2>
        <img id="banner" src="/static/images/dog3.jpg" alt="banner" style="width: 100%;">
        <p class="header">Looking for a place to find the right buddy for your little buddy? then you have come to the
          right place. We focus on matching your pet with other pets in the area, we also host meet and greets!</p>
        <div class="category">
          <h4>Hosted Group Meets:</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae aspernatur enim temporibus laboriosam
            vitae dolore dignissimos sit accusantium itaque consectetur. Sunt aliquid officia temporibus ipsum. Minima
            expedita atque ea accusamus.</p>
        </div>
        <div class="category">
          <h4>Meet Ups by:</h4>
          <ul>
            <li><i class="fa fa-paw" aria-hidden="true"></i> Breed</li>
            <li><i class="fa fa-paw" aria-hidden="true"></i> Age</li>
            <li><i class="fa fa-paw" aria-hidden="true"></i> Temperament</li>
            <li><i class="fa fa-paw" aria-hidden="true"></i> Area</li>
            <li><i class="fa fa-paw" aria-hidden="true"></i> Etc..</li>
          </ul>
        </div>
        <div class="cat-image ml-4">
          <img src="/static/images/cat1.jpg" alt="sub" style="width: 100%;">
        </div>
      </div>
      <div class="col mt-4">
      <h4>Content here!</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit sequi assumenda suscipit labore eveniet vitae reprehenderit quo adipisci, possimus nesciunt earum veniam alias blanditiis delectus laboriosam dolor vel ipsa?</p>
      <div video-container>
      <iframe width="420" height="315" src="https://youtube.com/embed/hUt_EZYCw3A?autoplay=1">
      </iframe>
      <h4>Content here!</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit sequi assumenda suscipit labore eveniet vitae reprehenderit quo adipisci, possimus nesciunt earum veniam alias blanditiis delectus laboriosam dolor vel ipsa?</p><h4>Content here!</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit sequi assumenda suscipit labore eveniet vitae reprehenderit quo adipisci, possimus nesciunt earum veniam alias blanditiis delectus laboriosam dolor vel ipsa?</p>
    </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
  <!-- Footer -->
  <footer style="text-align: center;">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium"><a href="#" target="_blank" class="w3-hover-text-green">MeetMyPet 2020</a></p>
  </footer>
</body>
<!-- SCRIPT  -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>