* {
    font-family: 'Shadows Into Light', cursive;
    font-size: large;
    
}

#logo {
    height: 120px;
    width: 150px;
    margin-bottom: 10px;
}

#main_nav {
    background-color: #bbdacf !important;
}

.col {
    height: fit-content;
}

#banner {
    height: 50%;
    width: 50%;
    border-radius: 25%;
    border: 5px solid pink;
    opacity: 80%;
}

.header {
    text-align: center;
    border-bottom: 2px solid pink;
}

h4 {
    text-decoration-line: underline;
}

.category {
    display: inline-block;

}

ul {
    padding: 0px;
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25%;
    display: inline-block;
    /* remove extra space below image */
}

.cat-image {
    max-width: 50%;
    max-height: 50%;
    display: inline-block;
    vertical-align: top;
    border-radius: 25%;
    border: 5px solid pink;

}

iframe {
    
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-left: 20px;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.bg {
    background-color: rgb(247, 255, 211);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}